<h1>Dashboard</h1>
<br>
<div class="order-summary jumbotron">
  <h3>How many products in our store: <%= @products_count %></h3>
  
  <h3>How many categories in our store: <%= @catgories_count %></h3>
  <br>
  <h3 >To our <%= link_to 'Products', admin_products_path %></h3>
  
</div>